*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 70vw;
}

/* navbar */

nav{
  width: 100vw;
  max-width: 100%;
  background-color: #2c3e50;
}

.navbar{
  width: 70%;
  margin: auto;
  color: WHITE;
  height: 80px;
}

.navbar-left{
  float: left;
  line-height: 80px;
}

.navbar-right{
  float: right;
  line-height: 80px;
}

.navbar::after{
  content:"";
  display: table;
  clear: both;
}

.navbar span{
  padding-left: 25px;
}

/* verdeacqua */

.verdeacqua{
  background-color: #18bc9c;
  text-align: center;
  color: white;
  padding: 50px 0px 50px 0px;
}

.verdeacqua h1{
  font-size: 80px;
  font-weight: 800;
}

.riga{
  width: 20%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0 none;
  height: 3px;
}

.verdeacqua  .riga{
  background-color: white;
  color: white;
}

/* portfolio */

.bianco{
  background-color: white;
  text-align: center;
  margin-bottom: 80px;
}

.bianco .riga{
    background-color: #2c3e50;
    color: #2c3e50;
}

.bianco h1{
  color: #2c3e50;
  font-weight: 800;
  font-size: 50px;
  margin-top: 50px;
}

.row{
  margin-bottom: 20px;
}

.row  img{
  width:300px;
  height: 216.66px;
}

.download{
  width:20vw;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
